.lobby {
  display: grid;
  grid-template-columns: 50% 50%;
  border: 5px solid $color2;
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 300px;
  cursor: pointer;

  h2 {
    font-size: 1.5rem;
    letter-spacing: 1px;
  }

  i {
    font-size: 4rem;
  }

  .add-container {
    color: $color1;
    background: $color2;
    border-radius: 23px 0 0 23px;
    display: grid;
    place-items: center;

    &:hover{
      color: $color2;
      background: $color1;
    }
  }
  .random-container {
    color: $color2;
    background: $color1;
    border-radius: 0 23px 23px 0;
    display: grid;
    place-items: center;

    &:hover{
      color: $color1;
      background: $color2;
    }
  }
  .black{
    background: $color2;
    color: $color1;
  }
  .white{
    background: $color1;
    color: $color2;
  }
}
